

<div class="container" style="max-width:350px;" > 



<form action="/platillo/create" method="POST" accept-charset="utf-8" class="form-signin">

<label>Nombre del plato:</label>
<input type="text" name="txtNombre"  class="form-control " required >
<label>Precio (%)</label>
<input type="number" name="txtprecio"  min="0" max="50" step="0.01"class="form-control " required>

<input type="submit" class="btn btn-success  btn-lg" />

</form>

</div>

