
<div class="container" style="max-width:350px;" > 


<form action="/mesa/create" method="POST" accept-charset="utf-8" class="form-signin">

<label>Numero</label>
<input type="number" name="txtnumero"  class="form-control " required >
<label>Capacidad</label>
<input type="number" name="txtcapacidad" class="form-control " required>
<label>Locacion</label>
<input type="text" name="txtlocacion" class="form-control" required>

<br/>
<input type="submit" class="btn btn-success  btn-lg" />

</form>

</div>