<div class="container">
	<h2>INFORMACION DEL USUARIO</H2>
	<ul>
	<li><%= mesa.numero %></li>
	<li><%= mesa.capacidad %></li>
	<li><%= mesa.locacion %></li>
	</ul>

	<form action="/mesa/edit/<%=mesa.id %>" method="POST" accept-charset="utf-8">
	<button type="submit" class="btn btn-warning">EDITAR</button>
	<a href="/persona" class="btn btn-info" role="button">Regresar</a>
	</form>
	</div>