
<div class="container" style="max-width:350px;" > 

<form action="/reserva/create" method="POST" accept-charset="utf-8" class="form-signin">

<label>Fecha</label>
<input type="date" name="txtfecha"  class="form-control " required >
<label>Hora</label>
<input type="time" name="txthora" class="form-control " required>
<label>Numero de personas </label>
<input type="number" name="txtnumpersonas" class="form-control" min="0" max="25" required>
<label>Cliente dueño de la reserva </label>
<input type="text" name="txtanombre" class="form-control"  required>
<br/>
<input type="submit" class="btn btn-success  btn-lg" />

</form>

</div>