
<div class="container">
<ul class="nav nav-tabs nav nav-tabs nav-justified" >
  <li role="presentation" class="active" ><a href="/home">Home</a></li>
  <li role="presentation"><a href="/historia">Conocenos</a></li>
  <li role="presentation"><a href="/reservas">Haz una reserva!</a></li>
  <li role="presentation"><a href="/ubicacion">Ubicanos</a></li>
</ul>
<div class="container2">
<h1>Historia</h1>
<div class="container3" >
<div class="row">
  <div class="col-xs-12 col-md-6  col-sm-6 col-lg-6">Con una amplia sonrisa y unos ojos azules muy expresivos, ella transmite confianza. Su manera espontánea de conversar y ese don de mirar directamente a los ojos a la hora de hablar crean un ambiente de familiaridad.

Se trata de Lucía Vinueza, una mujer bella, carismática y sencilla. Con un look cómodo de capri rosado, blusa blanca de manga tres cuartos y zapatos negros bajos, el cabello suelto y corto que cae a la altura de las mejillas y sin alhajas llamativas, ella demuestra que es una amante apasionada de la vida descomplicada, lenta y tranquila.

Esta mujer de 51 años, llena de proyectos y sueños, es la dueña del restaurante Lucía, pie house and grill, que desde hace dos meses atiende en el centro comercial Bocca, en el km 1,5.

Hace cuatro años abrió el primer restaurante en Cumbayá, Quito. Luego vendió una franquicia para un nuevo local en la capital del país y por último decidió abrir uno aquí.
Ella recuerda que desde pequeña evitaba comer las carnes o cosas muy condimentadas, prefería lo simple. “La forma de sazonar aquí en Ecuador no me gustaba, porque le metían mucho ajo, comino, especias, y yo prefería que tenga solo sal y pimienta, es por eso que cuando probé la comida americana me volví una aficionada”.

Lucía cuenta que el primer libro de cocina que leyó fue American Woman’s Cook Book, era muy sencillo, con recetas caseras de postres, pero al estilo antiguo, en donde hasta la masa era preparada. “Aún tengo ese libro en mi casa, no lo he vuelto a ver de venta, es espectacular y todos los postres de mi restaurante han salido de ahí”.

Lucía confiesa que es muy mala para recordar caras o nombres, pero con los miles de libros de cocina que han pasado por ella comprobó que es excelente recordando recetas, nunca olvida lo que prepara.

Su gusto por la cocina comenzó cuando tenía 9 años, en su primer intento de hacer negritos al estilo americano. “Mi casa era una de las pocas que había en Urdesa, recuerdo que cogí mi bicicleta y fui a la única tienda del barrio a comprar los ingredientes para hacer los brownies, seguí al pie de la letra la receta y al final me salió un postre rico, pero no el negrito”, acota.

En su afán por hacer los negritos hizo todas las recetas de ese libro, convirtiéndose en una chef de manera empírica. Hizo pie de manzana, piña y de limón, entre otros dulces, y así pasaron 20 años hasta que logró hacer los negritos. Luego de todo este tiempo ya tenía su propio hogar, se casó a los 20 años y tuvo tres hijos: José, Pablo y Cristina.

Haber podido hacer los negritos fue un hecho que marcó su vida. Ella siguió la receta del fhoge de chocolate, una torta de masa suave que al final de la preparación terminó quedando como los ansiados negritos. “Hubo un error de imprenta en el libro, la receta de los negritos estaba con el nombre de este fhoge. Me parece tan curioso cómo el error de una persona hizo que cocinar se convirtiera en mi profesión”, enfatiza.

A más de la cocina, sus dos grandes pasiones son al arte y la arquitectura. Disfruta mucho haciendo esculturas y planos de casas que solo se construyen en su imaginación. “Yo hice los planos de la casa de mi nana, y ella la construyó tal cual yo la diseñé, aún no descarto la posibilidad de hacer grandes construcciones”.

Lucía fue Miss Ecuador y representó al país en el Miss Universo de Nueva York en 1982, quedando entre las semifinalistas. “Esta experiencia fue decepcionante, yo creí que iba a ser la representante de una cultura, pero este certamen no deja de ser un negocio”, cuenta.

Lucía confiesa que tiene su corazón dividido entre Guayaquil, Quito y Cuenca, la ciudad natal de su padre. De Guayaquil le gusta cómo se ve la ciudad, los amigos; de Quito, el clima, que para ella es excelente a la hora de hacer postres; y de Cuenca, la tranquilidad para vivir, sin complicaciones y a paso lento. “Me siento mona, quiteña y cuencana, y sería feliz viviendo en cualquiera de estas ciudades”. Actualmente vive en Quito junto con Patricio Ribadeneira, su pareja desde hace cinco años. Viene a Samborondón con frecuencia para estar cerca de su negocio y visitar a su hermana y su mamá que residen en el sector.

Es amante de la pizza y la comida china, pero a la hora de comer dulces no hay nada que supere el gusto por sus propios postres. La jardinería es otras de sus pasiones, incluso confiesa que quisiera en algún momento poder diseñar jardines.</div>

  <div class="col-xs-12 col-md-4 col-sm-4 col-lg-4"><img src="images/historia.jpg" ></div>
</div>




</div>
</div></div>