
<div class="container" >

 <input type="time" id="myTime" min="20:00" max="22:00">


<ul class="nav nav-tabs nav nav-tabs nav-justified" >
  <li role="presentation" class="active" ><a href="/home">Home</a></li>
  <li role="presentation"><a href="/historia">Conocenos</a></li>
  <li role="presentation"><a href="/reservas">Haz una reserva!</a></li>
  <li role="presentation"><a href="/ubicacion">Ubicanos</a></li>
</ul>
<div class="container2" style="max-width:300px;  margin:0 auto;">
<h1>RESERVAS</h1>
<form action="/reserva/createxcliente" method="POST" accept-charset="utf-8" class="form-signin">

<label>Fecha</label>
<input type="date" name="txtfecha"  class="form-control " required style="font-size: 1.5em;">
<label>Hora </label>
<input type="time" id="txthora" name="txthora" class="form-control" step="600" style="font-size: 1.5em;" required>
<label>Numero de personas(máximo 25 por reserva) </label>
<input type="number" id=" txtnumpersonas" name="txtnumpersonas" class="form-control" min="1" max="25"  style="font-size: 1.5em;" required>
<label>Cliente dueño de la reserva(a nombre de quien está la reserva) </label>
<input type="text" name="txtanombre" class="form-control" style="font-size: 1.5em;" required>
<br/>

<input type="submit" class="btn btn-success  btn-lg" />




<div id="result"></div>
<div id="result2"></div>


<script>
document.getElementById("result").innerHTML = localStorage.getItem("entrada");
document.getElementById("result2").innerHTML = localStorage.getItem("salida");


$(document).ready(function(){

var x = document.getElementById("myTime").min = "16:00";

var a = document.getElementById("txthora").min = localStorage.getItem("entrada");
var b= document.getElementById("txthora").max = localStorage.getItem("salida");
})
</script>
</form>
</div>
</div>