
<div class="container" >
<ul class="nav nav-tabs nav nav-tabs nav-justified" >
  <li role="presentation" class="active" ><a href="/home">Home</a></li>
  <li role="presentation"><a href="/historia">Conocenos</a></li>
  <li role="presentation"><a href="/reservas">Haz una reserva!</a></li>
  <li role="presentation"><a href="/ubicacion">Ubicanos</a></li>
</ul>
<div class="container2" style=" margin:0 auto;">
<div class="row">
  	<div class="col-xs-12 col-md-3 col-sm-3 col-lg-3"></div>
  	<div class="col-xs-12 col-md-6 col-sm-6 col-lg-6">
  		<h1>RESERVAS</h1>

<form action="/reserva/createxcliente" method="POST" accept-charset="utf-8" class="form-signin">

<label>Fecha</label>
<input type="date" id="txtfecha" name="txtfecha"  class="form-control " required style="font-size: 1.5em;" max='2017-01-01' >
<label>Hora </label>
<input type="time" id="txthora" name="txthora" class="form-control" step="1800" style="font-size: 1.5em;" required>
<label>Numero de personas(máximo 25 por reserva) </label>
<input type="number" id=" txtnumpersonas" name="txtnumpersonas" class="form-control" min="1" max="25"  style="font-size: 1.5em;" required>
<label>Cliente dueño de la reserva(a nombre de quien está la reserva) </label>
<input type="text" name="txtanombre" class="form-control" style="font-size: 1.5em;" required>
<br/>

<input type="submit" class="btn btn-success  btn-lg" />


<br/>
los horario son de <div id="result"> </div> hasta
<div id="result2"></div>

<div id="result3"></div>
<script>
document.getElementById("result").innerHTML = localStorage.getItem("entrada");
document.getElementById("result2").innerHTML = localStorage.getItem("salida");

var today = new Date();
var dd = today.getDate();
var mm = today.getMonth()+1; //January is 0!
var yyyy = today.getFullYear();
 if(dd<10){
        dd='0'+dd
    } 
    if(mm<10){
        mm='0'+mm
    } 
today = yyyy+'-'+mm+'-'+dd;
localStorage.setItem("fechaActual",today);
$(document).ready(function(){
var a = document.getElementById("txthora").min = localStorage.getItem("entrada");
var b= document.getElementById("txthora").max = localStorage.getItem("salida");
var x = document.getElementById("txtfecha").min = localStorage.getItem("fechaActual");
})
</script>
</form>

  	</div>
<div class="col-xs-12 col-md-3 col-sm-3 col-lg-3"></div>


</div>
</div>
</div>