<div class="container" >
<ul class="nav nav-tabs nav nav-tabs nav-justified" >
  <li role="presentation" class="active" ><a href="/home">Home</a></li>
  <li role="presentation"><a href="/historia">Conocenos</a></li>
  <li role="presentation"><a href="/reservas">Haz una reserva!</a></li>
  <li role="presentation"><a href="/ubicacion">Ubicanos</a></li>
</ul>
<div class="container2" style="max-width:500px;  margin:0 auto;">
<h1>RESERVAS</h1>
<img src="images/cara.png"  >
<label>Lo sentimos no hay cupo para ese dia</label>
<label>¿Por qué no intentas a otra hora ?</label>
<!--  <button href="/reservas" class="btn btn-info"> Regresar</button>  -->

	<form   accept-charset="utf-8">
	
	 <a href="/reservas" class="btn btn-info" role="button">Regresar</a>
	</form>
</div>
</div>