
<div class="container">

<ul class="nav nav-tabs nav nav-tabs nav-justified" >
  <li role="presentation" class="active" ><a href="/home">Home</a></li>
  <li role="presentation"><a href="/historia">Conocenos</a></li>
  <li role="presentation"><a href="/reservas">Haz una reserva!</a></li>
  <li role="presentation"><a href="/ubicacion">Ubicanos</a></li>
</ul>
<div class="container2">
<h2>UBICANOS</h2>
<div id="map"  >
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13420.03262622427!2d-78.4821993210389!3d-0.17565402534022218!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x49243d878485b587!2sLucia+Pie+House+%26+Grill!5e0!3m2!1ses-419!2sec!4v1462235824788" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
</div>
<div id="result"></div>
<div id="result2"></div>
<!-- <script>
// Check browser support
document.getElementById("result").innerHTML = localStorage.getItem("entrada");
document.getElementById("result2").innerHTML = localStorage.getItem("salida");

</script> -->
</div>